* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.banner {
    position: relative;
    width: 100%;
    height: 500px;
    background: url('../img/banner.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.logo{
    width: 20%;
    margin-left: 10%;
}
nav{
    /*border: 2px red solid;*/
    width: 20%;
    margin-left: 10%;
}
nav ul{
    /*border: 2px green solid;*/
}
nav ul a.selector{
    display: block;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    -transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
nav ul a.selector:hover{
    background-color:  #424949;
    color: #FB4200;
}
#select{
    background-color:  #424949;
    color: #FB4200;
}

.menu-op{
    display: none;
}

.texto{
    width: 90%;
    margin: 0 auto;
    text-align: right;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    padding: 5% 0px;
}
.texto2{
    margin-top: 13%;
    text-align: right;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
.seccion{
    position: relative;
    width: 100%;
    /*height: 700px;*/
    background: url('../img/banneri2.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*padding: 8% 0%;*/
    overflow: hidden;
    clear: both;
}
.fondo {
    position: relative;
    width: 100%;
    /*height: 700px;*/
    background-color: rgba(0, 0, 0, .7);
    overflow: hidden;
    padding:  0%;
    clear: both;
}
.hola{
    padding: 8% 5%;
}
.imagen{
    /*border: 2px red solid;*/
    width: 100%;
    height: 300px;
    position: relative;
    background: url('../img/nosotros.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    /*padding: 8% 0%;*/
    overflow: hidden;
}
.imagen2{
    /*border: 2px red solid;*/
    width: 100%;
    height: 300px;
    position: relative;
    background: url('../img/servicios.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    /*padding: 8% 0%;*/
    overflow: hidden;
}
.imagen3{
    /*border: 2px red solid;*/
    width: 100%;
    height: 300px;
    position: relative;
    background: url('../img/proyectos.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    /*padding: 8% 0%;*/
    overflow: hidden;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-danger.btn-outline {
  font-family: 'Montserrat', sans-serif;
  color: #F28C00;
}

.btn-danger.btn-outline:hover {
    color: #fff;
}
/*--------------------footer---------------*/

footer {
    background-color: #000;
    height: 100px;
    overflow: hidden;
}

footer p {
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    width: 100%;
    margin-top: 2%;
}

/*-----------nosotros--------------*/

.bannern {
    position: relative;
    width: 100%;
    height: 500px;
    background: url('../img/nosotros2.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.mvv{
    padding: 7% 0%;
}
.back{
    background-color: #F6F6F6;
    padding: 5% 0%;
}
.texton{
    width: 55%;
}
.tamano{
    font-size: 20px;
}
.uno{
    margin-top: 16%;
}
/*
.fondo h1 {
    width: 50%;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 55px;
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
}

.fondo h1 b {
    color: rgb(182, 206, 35);
}

.fondo p {
    width: 80%;
    margin-top: 1%;
    margin-left: 5%;
    font-size: 35px;
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
}*/


/*--------------------servicios-------------*/
.banners {
    position: relative;
    width: 100%;
    height: 500px;
    background: url('../img/servicios2.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.caption{
    display: inline-block;
    width: 30%;
    margin-left: 3%;
    height: 320px;
    position: relative;
    background: url('../img/diseno.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.caption2{
    display: inline-block;
    width: 30%;
    margin-left: 3%;
    height: 320px;
    position: relative;
    background: url('../img/constru.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
}
.caption3{
    display: inline-block;
    width: 30%;
    margin-left: 3%;
    height: 320px;
    position: relative;
    background: url('../img/consul.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
}
.fondo-caption{
    position: relative;
    height: 320px;
    background-color: rgba(0, 0, 0, .5);
}
.texto-vertical {
  width:35px;
  padding: 10px;
  word-wrap: break-word;
  text-align:center;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin-left: 5%;
  background-color: rgba(255,255,255,.5);
}
.texto-vertical2 {
  width:35px;
  padding: 10px;
  word-wrap: break-word;
  text-align:center;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin-left: 5%;
  background-color: rgba(255,255,255,.5);
}

.caption4{
    display: inline-block;
    width: 30%;
    margin-left: 3%;
    height: 320px;
    position: relative;
    background: url('../img/arquitectura.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
}
.caption5{
    display: inline-block;
    width: 30%;
    margin-left: 3%;
    height: 320px;
    position: relative;
    background: url('../img/estudios.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
}
.caption6{
    display: inline-block;
    width: 30%;
    margin-left: 3%;
    height: 320px;
    position: relative;
    background: url('../img/gestion.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
}
.caption{
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.caption2{
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.caption3{
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.caption4{
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.caption5{
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.caption6{
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.caption:hover{
    -webkit-transform: scale(1.06);
    -o-transform: scale(1.06);
    -moz-transform: scale(1.06);
    transform: scale(1.06);
}
.caption2:hover{
    -webkit-transform: scale(1.06);
    -o-transform: scale(1.06);
    -moz-transform: scale(1.06);
    transform: scale(1.06);
}
.caption3:hover{
    -webkit-transform: scale(1.06);
    -o-transform: scale(1.06);
    -moz-transform: scale(1.06);
    transform: scale(1.06);
}
.caption4:hover{
    -webkit-transform: scale(1.06);
    -o-transform: scale(1.06);
    -moz-transform: scale(1.06);
    transform: scale(1.06);
}
.caption5:hover{
    -webkit-transform: scale(1.06);
    -o-transform: scale(1.06);
    -moz-transform: scale(1.06);
    transform: scale(1.06);
}
.caption6:hover{
    -webkit-transform: scale(1.06);
    -o-transform: scale(1.06);
    -moz-transform: scale(1.06);
    transform: scale(1.06);
}

/*--------------contacto---------*/

.bannerc {
    position: relative;
    width: 100%;
    height: 500px;
    background: url('../img/contacto.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.jumbotron {
background: #FB4200;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { 
padding-top: 24px;
padding-bottom: 24px;
 }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 17px;
}